<div class="row text-center">
    <div class="offset-sm-12 col-md-12 col-lg-12 col-12 mt-5">
        <form method="POST" action="/account/login">
            <h1 class="h3 mb-3 font-weight-normal success-h">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only mt-2">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control  mt-2" placeholder="Password" required>
            <button class="btn btn btn-success btn-block mt-4" type="submit">Sign in</button>           
        </form>
    </div>
</div>
