<div class="row">
    <div class="col-12 text-center" style="font-size: 20px;">
        <a href="/">🌴</a>
    </div>
    <div class="col-12 text-center">
        <a href="/">
            <h2 class="success-h">TODO LIST </h2>
        </a>
    </div>
</div>